<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Draggable Kanban Board Plugin Example</title>
    <link
      href="https://www.jqueryscript.net/css/jquerysctipttop.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.0.0/css/ionicons.min.css"
      integrity="sha512-TW7f6IUZY6T33KWkBGUCipZP0PDXofUzxl7T+90vjO7PdE4NtgB5B0vP1mjmUZHuGFlXOo84648aT0mMxxViaA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.6.0/flatly/bootstrap.min.css"
    />
    <link rel="stylesheet" href="css/kanban.min.css" />
  </head>

  <body style="background: #fafafa">
    <div class="container" style="margin: 1rem auto">
      <h1 style="text-align: center; margin-bottom: 2rem">Work Area</h1>
      <div id="kanban"></div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/kanban.min.js"></script>
    <script>
      $('#kanban').kanban({
        titles: [
          'Backlog',
          'In Progress',
          'Complete',
          'Review',
          'Sent to production',
        ],
        colours: ['#00aaff', '#ff921d', '#00ff40', '#ffe54b', '#8454ff'],
        items: [
          {
            id: 1,
            title: 'Test',
            block: 'Backlog',
            link: '[URL]',
            link_text: 'New engine parts to be assembled',
            footer:
              '<i class="ion-md-chatboxes"></i> 1 <div class="pull-right"><i class="ion-md-checkbox"></i> 1/4</div>',
          },
          {
            id: 2,
            title: 'Test 2',
            block: 'In Progress',
            footer:
              '<i class="ion-md-chatboxes"></i> 1 <div class="pull-right"><i class="ion-md-checkbox"></i> 1/4</div>',
          },
          {
            id: 3,
            title: 'Test 3',
            block: 'Complete',
            footer:
              '<i class="ion-md-chatboxes"></i> 1 <div class="pull-right"><i class="ion-md-checkbox"></i> 1/4</div>',
          },
          {
            id: 4,
            title: 'Test 5',
            block: 'Review',
            footer:
              '<i class="ion-md-chatboxes"></i> 1 <div class="pull-right"><i class="ion-md-checkbox"></i> 1/4</div>',
          },
          {
            id: 5,
            title: 'Test 5',
            block: 'Sent to production',
            footer:
              '<i class="ion-md-chatboxes"></i> 1 <div class="pull-right"><i class="ion-md-checkbox"></i> 1/4</div>',
          },
        ],
      })
    </script>
    <script></script>
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-1VDDWMRSTH"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag('js', new Date())
      gtag('config', 'G-1VDDWMRSTH')
    </script>

    <%- include('partials/footer') %>
  </body>
</html>
