.login_body,
.register_body {
  font-family: 'Nunito', sans-serif;
}

.form_header {
  font-size: 1.5rem;
}

#email,
#password,
#registerEmail,
#registerPassword,
#fullName {
  font-size: 1rem;
  border: 0;
  height: 50px;
  border-radius: 0;
  border-bottom: 1px solid #f7f7f7;
}

.body_wallpaper {
  background-color: rgb(57, 63, 83);
  /*background-color: rgb(221, 132, 121);*/
}

.logo_design {
  font-size: 22px;
}

.new_message_font {
  color: #344767;
}

/*.login_body{
    --color-primary: #009579;
    --color-primary-dark: #007f67;
    --color-secondary: #252c6a;
    --color-error: #cc3333;
    --color-success: #4bb544;
    --border-radius: 4px;

    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    background: url(/images/blurred.jpg);
    background-size: cover;
}



.logo{ 
	position:absolute; 
	top:1rem; 
	left:1rem;
    min-width: 15.5rem;
    margin-right: 10rem;
    height: 4%;
    display: flex;
    width: 15%; 
} 

.container{
    width: 400px;
    max-width: 400px;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0,0,0,0.2);
    border-radius: var(--border-radius);
    background: #ffffff;
}

.err_msg{
    padding: 5px 15px;
    background-color: #ffff;
    border-radius: 8px;
    margin-bottom: 15px;
    color: var(--color-error);
    text-align: center;
    /*visibility: hidden;
}

.err_msg .hide_msg{
    visibility: visible; 
}

.container,
.form_input,
.form_button{
    font: 300 0.9rem 'Nunito', sans-serif;
}

.form_hidden{
    display: none;
}

.form > *:first-child{
    margin-top: 0;
}

.form > *:last-child{
    margin-top: 0;
}

.form_title{
    margin-bottom: 2rem;
    text-align: center;
}

.form_message{
    text-align: center;
    margin-bottom: 1rem;
}

.form_message_success{
    color: var(--color-success);
}

.form_message_error{
    color: var(--color-error);
}

.form_input_group{
    margin-bottom: 1rem;
    opacity: 0.8;
}

.form_input{
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border: transparent;
    border-bottom: 1px solid;
    outline: none;
    background: transparent;
    transition: background 0.2s, border-color 0.2s;
}

.form_input:focus{
    border-color: var(--color-primary);
    background: transparent;
}

.form_input_error{
    color: var(--color-error);
    border-color: var(--color-error);
}

.form_input_error_message{
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: var(--color-error);
}

.form_button{
    width: 100%;
    padding: 1rem 2rem;
    margin: auto;
    font-weight: bold;
    font-size: 1.1rem;
    border: none;
    color: #ffffff;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: var(--color-primary);
}

.form_button:hover{
    background: var(--color-primary-dark);
}

.form_button:active{
    transform: scale(0.98);
}

.form_text{
    text-align: center;
}

#createAccount .form_text{
    text-align: center;
    margin-top: 2rem;
}

.form_link{
    color: var(--color-secondary);
    text-decoration: none;
    cursor: pointer;
}

.form_link:hover{
    text-decoration: underline;
}

/* Homepage Styles 

.home_body{
    --color-primary: #009579;
    --color-primary-dark: #007f67;
    --color-secondary: #252c6a;
    --color-error: #cc3333;
    --color-success: #4bb544;
    --border-radius: 4px;
    --dark-color-lighter: #4D4D4D;
    --dark-color: #2E2E2E;
    --body-font-color: #676767;
    

    margin: 0;
    height: 100vh;
    display: flex;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    background: #ffffff;
    background-size: cover;
}

.navbar{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-block: 0.8rem;
}

.site_logo{
    font-family: 'Black Ops One', cursive;
    color: var(--dark-color);
    min-width: 8.5rem;
    padding-left: 3rem;
    font-size: 25px;
    margin-right: 10rem;
    height: auto;
}

ul{
    list-style: none;
}

a {
    text-decoration: none;
    font: inherit;
    color: inherit;
    outline: none;
}

.menu_list{
    width: 100%;
    display: flex;
    align-items: center;
    max-height: 0;
    list-style: none;
    margin: 0;
    /*overflow: hidden;
    transition: max-height 0.35s;
}

.menu_list .list_item{
    text-align: center;
    margin: 1.2rem 1.6rem;
}

.list_link{
    display: inline-block;
    font-weight: 500;
    line-height: 1.6rem;
    padding: 0.8rem 0;
    color: var(--dark-color-lighter);
    transition: color 0.25s;
}

.search_box{
    margin-top: 2rem;
    margin-right: 0rem;
}

.search_form{
    position: relative;
}

.search_input{
    width: 28.8rem;
    height: 4.8rem;
    padding: 1.2rem 6rem 1.2rem 4.4rem;
    background-color: var(--light-color);
    box-shadow: 0 2rem 5rem rgba(0,0,0,0.04);
    border-radius: 0.8rem;
}
*/
